body {
    padding-bottom: 0px;
    color: #5a5a5a;
}

input[type="file"] {
    line-height: 1;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 0px;
}

.carousel .container {
    position: relative;
    z-index: 9;
}

.carousel .item {
    height: 1000px;
}
.carouselimg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 1000px;
}

.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 20px;
    margin-top: 50px;
}
.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
    margin-top: 10px;
}

input[type="text"], input[type="password"] {
    width: 400px;
}

.selectedThumbnail {
    border-color: #0088cc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.dataPicture {
    max-width: 300px;
    max-height : 300px;
}