name: Check
on:
  pull_request:
    branches:
      - master
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 18
      - name: Install modules
        run: npm install --ignore-scripts
      - name: Run Check
        run: npm run check
